<html>
    <head>
       <meta charset="utf-8">
       <title>Анкета</title>
    </head>
 <body style="color:#2F4F4F; background-color:#FFE4C4">
<form action="">
	<p><b>Укажите свой родной язык: </b><input type="text" name="language" value=""></p>
	<p><b>Укажите свою страну: </b><input type="text" name="country" value=""></p>
	<p><b>Укажите свой возраст: </b><input type="text" name="age" value=""></p>
	<p>Опишите действия на картинках: <p/>
	<p><b>1.</b><input type="text" name = 'applause' value=""></p>
	<img src="{{url_for('static', filename='1.jpg')}}" />
	<p><b>2.</b><input type="text" name ='crawling' value=""></p>
	<img src="{{url_for('static', filename='22.jpg')}}" />
	<p><b>3.</b><input type="text" name = 'waving' value=""></p>
	<img src="{{url_for('static', filename='3.jpg')}}" />
	<p><b>4. </b><input type="text" name = 'handshake' value=""></p>
	<img src="{{url_for('static', filename='44.jpg')}}" />
	<p><b>5.</b><input type="text" name ="shrugging" value=""></p>
	<img src="{{url_for('static', filename='5.jpg')}}" />
	<p><input type="submit" value="Отправить"></p>
	<input type="button" value="Главная страница" onClick='location.href="http://127.0.0.1:5000/"'>
	</form>
</body>
</html>