<html>
    <head>
       <meta charset="utf-8">
       <title>Поиск</title>
    </head>
 <body style="color:#2F4F4F; background-color:#FFE4C4">
<form action="/results">
    <label>Введите язык, описания действий на котором вы хотите найти</b> <input type="text" name="language" value=""><label></br>
	<label>Введите страну, результаты жителей которой вы хотите получить</b> <input type="text" name="contry" value=""><label></br>
	<label>Введите возраст, соответствующий возрасту тех информантов, результаты которых вы хотите найти</b> <input type="text" name="age" value=""><label></br>
    <p><input type="submit"></p>
 </form>

 </body>
 </html>
